bcrypt==2.0.0
cffi==1.4.2
confine-controller==1.0.2
Django==1.9.1
Flask==0.10.1
flask-mongoengine==0.7.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
image==1.4.4
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mongoengine==0.10.5
Pillow==3.1.0
pycparser==2.14
PyJWT==1.4.0
pymongo==3.2
PyMySQL==0.7.0
requests==2.9.1
six==1.10.0
SQLAlchemy==1.0.11
Werkzeug==0.11.3
WTForms==2.1
